<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<%= link_to 'Edit', edit_department_path(@department), class: "ui primary button" %>
<%= link_to 'Back', departments_path, class: "ui black button" %>
